{
    "extends": "airbnb-base/legacy",
    "env": { 
        "es6": true,
        "node": true
    },
    "rules": {
        "no-console":0,
        "indent": ["error", 4],
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "always",
            "imports": "never",
            "exports": "never",
            "functions": "ignore"
        }]
    }
}